@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

@font-face {
  font-family: "Potra";
  src: url("Potra.ttf") format("truetype");
}

.potra {
  font-family: "Potra", sans-serif;
}

body {
  background-color: #fafaf8;
}

.font-sans {
  font-family: "Inria Sans", sans-serif;
}
